/*header*/

header {
    height: 46px;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-left: 50px;
    padding-right: 50px;
}

#headerlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-height: 46px;
    margin: 0px;
}
#headerlist > p {
    color: lightgrey;
    /*border-left: 2px;
    border-color: grey;
    border-left-style: solid;
    height: 100%;*/
}
#scLogo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ff6a00;
    width: 170px;
    max-height: 46px;
}
#scLogo > p {
    color: white;
}
#scLogo > img {
    max-height: 40px;
}
#seachbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: white;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 20%;
    max-height: 30px;
}
#seachbar > p {
    color: lightgrey;
    font-size: small;
    align-items: center;
    margin: 0px;
}
#seachbar > img {
    max-height: 20px;
}
#headerlist > .signIn {
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
}
#headerlist > .accountCreation {
    background-color: #ff6a00;
}

/*player window*/

#playerWindow {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
#playerWindow > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#playinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

#playinfo > .leftText {
    display: flex;
    flex-direction: row;
}
#playinfo > .leftText > button {
    height: 60px;
    width: 60px;

}
#playinfo > .leftText > div > p {
    background-color: #2c2c2c;
    color: white;
    padding: 7px;
    margin: 5px;
}
#songTitle {
    font-size: 30px;
}
#playinfo > .rightText > p {
    color: white;
}
#playinfo > .rightText > p:nth-child(2) {
    background-color: grey;
    padding: 4px;
    border-radius: 15%;
}
#progressbar {
    margin: 20px;
}
#albumcover {
    width: 340px;
    height: 340px;
    margin: 40px;
}

/*lowest section*/

#interactionsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#interactionsSection > section {
    display: flex;
    flex-direction: column;
}

/*comments*/

#comments {
    display: flex;
    flex-direction: column;
}
#comments > div {
    display: flex;
    flex-direction: row;
}
.commentImg {
    width: 40px;
    height: 40px;
}
.commentButton {
    width: 30px;
    height: 25px;
}
#upperCommentSection {
    align-items: center;
}
#upperCommentSection > p {
    width: 600px;
    background-color: lightgray;
    padding: 5px;
    border-radius: 20%;
}
#comments > div:last-child {
    justify-content: space-between;
}
#commentSectionButtons {
    display: flex;
}
#commentSectionButtons > div {
    display: flex;
    align-items: center;
    margin: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    max-height: 20px;
}
.commentButton {
    max-height: 18px;
}
#comments > div:last-child > div:last-child {
    display: flex;
}
#comments > div:last-child > div:last-child > p {
    margin: 4px;
}
/*artist*/

#artist {
    display: flex;
    flex-direction: row;
}
#artist > div {
    margin: 20px;
}
#artist > div > img {
    max-height: 120px;
    max-width: 102px;
    border-radius: 50%;
}
#artist > div > .followbutton {
    background-color: #ff6a00;
    color: white;
    text-align: center;
}
#followbox {
    background-color: lightgray;
    padding: 10px;
}
#followbox > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#followbox > div > p:first-child {
    background-color: white;
    padding: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 20%;
    margin: 5px;
}
#followbox > div > p:last-child {
    background-color: #ff6a00;
    padding: 2px;
    border-radius: 20%;
}
#hashtags {
    display: flex;
}
#hashtags > p {
    margin: 5px;
    background-color: grey;
    border-radius: 20%;
}

/*playlists*/

#playlists {
    display: flex;
    flex-direction: column;
}
#playlists > div:first-child {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding: 5px;
    margin: 5px;
}
#playlists > div {
    display: flex;
    align-items: center;
    margin: 10px;
}
#playlists > div > div > p {
    margin: 0px;
}
#playlists > div > div > p:first-child {
    color: lightgray;
}
.albumcover {
    max-height: 50px;
}

/*likessection*/

#likes > div:first-child {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding: 5px;
    margin: 5px;
    align-items: center;
}
.likeProfilePictures {
    max-height: 40px;
    padding-left: -5px;
    margin-left: -15px;
}